# Core ML Libraries
mlflow~=2.12  # Using a more recent but stable version of MLflow
numpy~=1.26  # Pin to <2.0 for broader compatibility
pandas~=2.2
scikit-learn~=1.4
xgboost~=2.0

# Data handling
datasets~=2.19

# Jupyter Environment (for interactive development)
ipykernel~=6.29
ipython~=8.22
notebook~=7.1  # Modern notebook version
traitlets~=5.14
setuptools~=69.5
